<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Practice_Chap04_Servlet-3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 첫번째 방법 -->
  <!-- <servlet>
  	특정 서브릿을 지정하는 코드
	<servlet-name>initParam</servlet-name>
	<servlet-class>sec02_exam.initParam</servlet-class>
	특정 서블릿(sec_exam02.initParam)에만 적용되는 부분이다. servlet파일을 지정할 때 
	그 안에 초기화 파라메터 아래와 같이 기술. init-param태그를 이용하여 지정
	<init-param>
		<param-name>id</param-name>
		<param-value>admin</param-value>
	</init-param>
	<init-param>
		<param-name>pw</param-name>
		<param-value>abcd1234!!</param-value>
	</init-param>
	<init-param>
		<param-name>path</param-name>
		<param-value>D:\\Temp</param-value>
	</init-param>
  </servlet>
  
	서블릿 매핑코드 작성
  <servlet-mapping>
	  <servlet-name>initParam</servlet-name>
	  <url-pattern>/IP</url-pattern>
  </servlet-mapping> -->
  
  
 <!--  하나의 프로젝트 안에 여러 서블릿파일에서 함께 공유하면서 사용할 수 있도록 context-param태그를 이용하여
  파라메터값들을 설정했다. 특정 서블릿을 매핑하는 코드가 없다.  -->
  <context-param>
  	<param-name>id</param-name>
  	<param-value>scott</param-value>
  </context-param>
  <context-param>
  	<param-name>pw</param-name>
  	<param-value>tiger</param-value>
  </context-param>
  <context-param>
  	<param-name>path</param-name>
  	<param-value>C:\\Temp</param-value>
  </context-param>
  
  <!-- <listener>
  	<listener-class>sec04_exam.ServletListener</listener-class>
  </listener> -->
  
</web-app>

